* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading {
    text-align: center;
    margin: 2rem;
}

form {
    width: 80%;
    margin: 0 auto;
}

.field__container {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 1rem;
    }

    label {
        margin-bottom: .2rem;
        font-size: .7rem;
        font-weight: bold;
    }

    textarea {
        resize: none;
    }
}

input[type="submit"] {
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
}